*{
    margin:0;
    padding:0;
}

.container {
    width:100%;
    height:100vh;
    background-image:url(mw2.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
}

.header{
    height:15%;
    display:flex;
    align-items:center;
    overflow:hidden;
    position:relative;
}

.MW2logo{
    width:200px;
    cursor:pointer;
}

.navbar{
    text-align:center;
    flex:1;
}

.navbar a{
    padding:6px 20px;
    text-decoration:none;
    color:rgb(107, 228, 9);
    margin-left:20px;
    font-size:50px;
    font-weight:bold;
    display:block;
    border:2px solid #bfc221;
}

.navbar li{
    display:inline-block;
}

.btn{
    cursor:pointer;
    color:white;
    font-size:18px;
    letter-spacing:2px;
    padding:10px 30px;
    border:2px solid #bfc221;
    background:transparent;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    margin:40px 8px;
}

.btn hover{
    color:#000;
    background-color:#fff;
}

.btn a:visited{
    background-color:#fff;
    color:white;
}

.btn a:link{
    text-decoration:none;
}

.content{
    text-align:center;
    margin-top:12%;
    text-decoration:none;
}

.content h1{
    font-size:80px;
    font-family:'Goudy Old Style';
    color: rgb(107, 228, 9);
    text-decoration:none;
}