*{
    margin:0;               /*Margin creates the space around an element.*/
    padding:0;                  
}

html{
    scroll-behavior: smooth;        /*The scroll behaviour will allow the website to scroll down to the navbar page that is clicked on slowly instead of it going fast.*/
}

.container {
    width:100%;
    height:100vh;
    background-image:url(mw2.jpg);              /*The background image for my home page will be an image that I have saved.*/
    background-size:cover;                          /*This will cover the page with image url.*/
    background-position:center;
    background-repeat:no-repeat;
    padding-left:8%;                        /*This will allow space on the left and right side on home page image*/
    padding-right:8%;
    box-sizing:border-box;                  
}

.header{
    height:15%;
    display:flex;                       /*This will position the elements in the header towards the left.*/
    align-items:center;                     /*The elements will be postioned to the center*/
    overflow:hidden;                        /*There will be no overflowing in the content since it's hidden.*/
    position:relative;                  /*The position of the elements in the header will be in their normal position.*/
}

.MW2logo{
    width:200px;
    cursor:pointer;                 /*This indicates a link*/
}

.navbar{
    text-align:center;
    flex:1;
}

.navbar a{
    padding:6px 20px;
    text-decoration:none;                           /*No text will be customised e.g bold font or underline.*/
    color:rgb(107, 228, 9);
    margin-left:20px;
    font-size:50px;
    font-weight:bold;
    display:block;                          /*This represents a block element.*/
    border:2px solid #bfc221;
}

.navbar li{
    display:inline-block;               /*This is similar to block but with and heigh can be adjusted.*/
}

.btn{
    cursor:pointer;
    color:white;
    font-size:18px;
    letter-spacing:2px;
    padding:10px 30px;
    border:2px solid #bfc221;
    background:transparent;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    margin:40px 8px;
}

.btn hover{
    color:#0fe61a;
    background-color:#fff;
}

.btn a:visited{
    background-color:#fff;
    color:white;
}

.btn a:link{
    text-decoration:none;
}

.content{
    text-align:center;
    margin-top:12%;
    text-decoration:none;
}

.content h1{
    font-size:80px;
    font-family:'Goudy Old Style';
    color: rgb(107, 228, 9);
    text-decoration:none;
}

h2{
    text-align:center;
    font-size:40px;
    margin:30px;
    border:2px solid #2be01b;
    background-color:yellow;
}

main {
    float:left;             /*The main section will be positioned to the left.*/
}

#about-section {
    display:flex;
}

p{
    width:1000px;
    font-size:35px;
}

aside{
    float:left;
    width:100px;
    height:100px;
    padding:0px;
    margin:0px;
}

.gameplay{
    height:300px;
    float:left;
}

h3{
    text-align:center;
    font-size:40px;
    margin:30px;
    border:2px solid #2be01b;
    background-color:yellow;
}

h4{
    text-align:center;
    width:1865px;
    font-size:40px;
    margin:30px;
    border:2px solid #2be01b;
    background-color:yellow;
}

h5{
    text-align:center;
    width:1865px;
    font-size:40px;
    margin:30px;
    border:2px solid #2be01b;
    background-color:yellow;
}

.contacts{
    text-align:center;
    flex:1;
}

.contacts a{
    padding:6px 20px;
    text-decoration:none;
    color:black;
    margin-left:20px;
    font-size:25px;
    font-weight:bold;
    display:block;
}

.contacts li{
    display:inline-block;
}