body{ 
    margin:0;                           /*Margin creates the space around an element.*/
    padding:0;                               /*Creates space around an element's content.*/
    min-height:100vh; 
    justify-content:center;                             /*This will justify how much space will around the content and the main axis of a container.*/
    align-items:center; 
    display:flex;                                    /*This will position the elements in the header towards the left.*/
    background:url(soap.jpg);                   /*The background URL will be the image saved on to my system and appear on the website.*/
} 

.terms{ 
    max-width:460px; 
    padding:60px 30px; 
    color:white; 
    background-color:black; 
} 

.terms-text{ 
    padding:0 20px; 
    height:400px; 
    color:white; 
    font-size:14px; 
    font-weight:500; 
    overflow-y:auto;                    /*This will show if you want to add other features like a scrollbar.*/
} 

.terms-text::-webkit-scrollbar{ 
    width:2px; 
    background-color:black; 
} 

.terms-text h2{ 
    text-transform:uppercase;               /*This will transform the text into uppercases.*/
} 

.terms h3{ 
    padding:0 40px; 
    text-align:center; 
    font-size:13px; 
} 

.terms h3 span{ 
    color:green; 
} 

.buttons{ 
    display:flex;                            /*This will position the elements in the header towards the left.*/
    padding:0 20px; 
    justify-content:space-between; 
} 

.btn{ 
    font-size:19px; 
    font-weight:500; 
    color:white; 
    height:50px; 
    width:calc(50%-6px); 
    border:0; 
    border-radius:6px;                           /*The border radius will round the corners of the border edges.*/
    cursor:pointer; 
    transition:.3s linear; 
} 

.red-btn{ 
    background-color:green; 
} 

.grey-btn{ 
    background-color:black; 
} 

.btn:hover{ 
    opacity:.6;                                     /*This sets the transparency of an element.*/
} 